R version 4.3.3 (2024-02-29)
Platform: x86_64-pc-linux-gnu (64-bit)
Running under: Ubuntu 22.04.3 LTS

Matrix products: default
BLAS:   /usr/lib/x86_64-linux-gnu/openblas-pthread/libblas.so.3 
LAPACK: /usr/lib/x86_64-linux-gnu/openblas-pthread/libopenblasp-r0.3.20.so;  LAPACK version 3.10.0

locale:
 [1] LC_CTYPE=en_US.UTF-8       LC_NUMERIC=C              
 [3] LC_TIME=en_US.UTF-8        LC_COLLATE=en_US.UTF-8    
 [5] LC_MONETARY=en_US.UTF-8    LC_MESSAGES=en_US.UTF-8   
 [7] LC_PAPER=en_US.UTF-8       LC_NAME=C                 
 [9] LC_ADDRESS=C               LC_TELEPHONE=C            
[11] LC_MEASUREMENT=en_US.UTF-8 LC_IDENTIFICATION=C       

time zone: Etc/UTC
tzcode source: system (glibc)

attached base packages:
[1] stats     graphics  grDevices utils     datasets  methods   base     

other attached packages:
[1] dplyr_1.1.4     ggeffects_1.5.0 glmmTMB_1.1.8  

loaded via a namespace (and not attached):
 [1] Matrix_1.6-5        jsonlite_1.8.8      compiler_4.3.3     
 [4] crayon_1.5.2        tidyselect_1.2.0    Rcpp_1.0.12        
 [7] IRdisplay_1.1       splines_4.3.3       boot_1.3-28        
[10] uuid_1.2-0          fastmap_1.1.1       IRkernel_1.3.2     
[13] lattice_0.22-5      R6_2.5.1            generics_0.1.3     
[16] forcats_1.0.0       MASS_7.3-60.0.1     tibble_3.2.1       
[19] nloptr_2.0.3        insight_0.19.8      minqa_1.2.6        
[22] pillar_1.9.0        TMB_1.9.10          rlang_1.1.3        
[25] utf8_1.2.4          repr_1.1.6          cli_3.6.2          
[28] withr_3.0.0         magrittr_2.0.3      mgcv_1.9-1         
[31] digest_0.6.34       grid_4.3.3          haven_2.5.4        
[34] hms_1.1.3           base64enc_0.1-3     lme4_1.1-35.1      
[37] pbdZMQ_0.3-11       lifecycle_1.0.4     nlme_3.1-163       
[40] vctrs_0.6.5         evaluate_0.23       glue_1.7.0         
[43] numDeriv_2016.8-1.1 fansi_1.0.6         pkgconfig_2.0.3    
[46] tools_4.3.3         htmltools_0.5.7    